{% extends "base_blog.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="contact-form">

                <form action="{% url 'website:contact' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        {% if not request.user.is_authenticated %}
                        <div class="col-md-6 col-sm-6 col-12">
                            {{form.name|as_crispy_field}}
                        </div>
                        <div class="col-md-6 col-sm-6 col-12">
                            {{form.email|as_crispy_field}}
                        </div>
                        {% else %}
                        <input type="text" name="sender_id" value="{{request.user.profile.id}}" hidden>
                        {% endif %}
                        <div class="col-12">
                            {{form.subject|as_crispy_field}}
                        </div>
                        <div class="col-sm-12">
                            {{form.message|as_crispy_field}}
                        </div>

                        <div class="col-sm-2 offset-md-5 text-center">
                            {{form.captcha}}
                        </div>

                        <div class="col-12 text-center">
                            <button id="submit" class="cont-submit btn-contact" name="submit">SEND MESSAGE</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>

        {% endblock %}

        {% block script %}
        <script>
            $(function () {
                // Add refresh button after field (this can be done in the template as well)
                $('img.captcha').after(
                    $('<a href="#void" class="captcha-refresh p-2"><i class="fa fa-refresh" ></i></a>')
                );

                // Click-handler for the refresh-link
                $('.captcha-refresh').click(function () {
                    var $form = $(this).parents('form');
                    var url = location.protocol + "//" + window.location.hostname + ":"
                        + location.port + "/captcha/refresh/";

                    // Make the AJAX-call
                    $.getJSON(url, {}, function (json) {
                        $form.find('input[name="captcha_0"]').val(json.key);
                        $form.find('img.captcha').attr('src', json.image_url);
                    });
                    return false;
                });
            });
        </script>
        {% endblock %}