{% extends "base_blog.html" %}
{% load static %}
{% load maintag %}
{% block title %} {{ title }} {% endblock %}
{% block content %}



<!-- slider-area start -->
<div class="slider-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="slider-active2 next-prev-style ">
                    {% for slide in slides %}
                    <div class="slider-item2" >
                        <img src="
                            {% if slide.image %}
                            {{slide.image.url}}
                            {% else %}
                            {{slide.post.image.url}}
                            {% endif %}
                        " alt="" class="slider slider-image">

                        <div class="slider-content2">
                            <p>{{slide.post.author}}</p>
                            <span>{{slide.post.pub_date}}</span>
                            <h2>
                                {% if slide.snippet %}
                                {{slide.snippet}}
                                {% else %}
                                {{slide.post.snippet}}
                                {% endif %}
                            </h2>
                            <a href="{% url 'blog:blog-single' pk=slide.post.id %}">Read more <i
                                    class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                    {% endfor %}
                              
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider-area end -->

<!-- .post-area start -->
<div class="post-area pb-80 post-area3 pt-4">
    <div class="container">
        <div class="row col-12"> 
            <div class="col-lg-4 col-12">
                <div class="sidebar-popular-post">
                    <div class="row">
                        <div class="col-lg-12 col-md-6 col-12">
                            <div class="widget widget_categories ">
                                <h4 class="widget-title">Category Post</h4>
                                {% blog_categories %}
                            </div>
                        </div>
                        {% include 'website/newsletter.html' %}
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-12">
                <div class="row">
                    <h2 class="text-center">Recent Posts</h2>
                    {% main_latest 4 %}
                </div>
            </div>

        </div>
    </div>
    <!-- .post-area end -->

    <!-- contact-arena -->
    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
        <div class="booking-content text-center">
            <h2 class="mx-2">We are honored to have you join us write here. Let’s get started today!</h2>
            <a href="{% url 'website:contact' %}" class="readmore-btn">Contact now</a>
        </div>
    </div>
</div>
</div>
</div>
<!-- contact-arena end -->

{% endblock %}