{% extends "base_account.html" %}
{% load static %}
{% block title %} Reset Password {% endblock %}
{% block extracss %}
<link href="https://getbootstrap.com/docs/5.1/examples/sign-in/signin.css" rel="stylesheet">
{% endblock %}

{% block content %}

<main class="form-signin text-center">
  <p class="h3 my-3">Rest password </p>
  <form action="{% url 'accounts:forget-password' %}" method="POST">
    {% csrf_token %}
    <!-- Email input -->
    <div class="form-outline m-4">
      <label class="form-label" for="form2Example1">Email address</label>
      <input type="email" name="email" id="form2Example1" class="form-control" placeholder="john.smith@example.com" />
  
      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block my-4">Send Reset Password Link </button>
  </form>
  <!-- Register buttons -->
  <div class="text-center">
    <p>Remembered old password? <a href="{% url 'accounts:login' %}">Login</a></p>
    <p>Wanna create new user? <a href="{% url 'accounts:register' %}">Register</a></p>
    <p>Continue anonymous <a href="/">Home</a></p>
  </div>

  {% if form.errors %}
  <div class="alert alert-error">
    <h6>Please fix the following errors</h6>
    {% for field in form %}
    {% if field.errors %}
    {% for error in field.errors %}
    <p class="alert alert-danger">{{ field.name|capfirst }}: {{ error }}</p>
    {% endfor %}
    {% endif %}
    {% endfor %}
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <p class="alert alert-danger">{{error}}</p>
    {% endfor %}
    {% endif %}
  </div>
  {% endif %}
</main>

{% endblock %}