{% extends "base.html" %}
{% load static %}
{% block title %} Profile {% endblock %}

{% block extracss %}
{% endblock %}
{% block extrajs %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                    width="150px"
                    src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span
                    class="font-weight-bold">{{ profile.user.email }}</span>
            </div>
        </div>
        <div class="col-md-9 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <form  method="POST" id="profile-form">
                    {% csrf_token %}
                    <div class="row mt-2">
                        <div class="col-md-4"><label class="labels">First Name</label><input name="first_name" id="first_name"
                                type="text" class="form-control" placeholder="first name"
                                value="{{ profile.first_name }}"></div>
                        <div class="col-md-4"><label class="labels">Last Name</label><input name="last_name" id="last_name" value="{{ profile.first_name }}" type="text"
                                class="form-control" value="" placeholder="last name"></div>
                        <div class="col-md-4">
                            <label class="labels">Mobile Number</label>
                            <input name="phone_number" id="phone_number" type="text" class="form-control" placeholder="eg. +9891212345678"
                                value="{{ profile.phone_number }}">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="labels">Address</label>
                            <textarea name="address" id="address" class="form-control" rows="3"
                                placeholder="address">{{ profile.address }}</textarea>
                        </div>
                        <div class="col-md-12 my-1">
                            <label class="labels">About me</label>
                            <textarea name="about" id="about" class="form-control" rows="3"
                                placeholder="I am .....">{{ profile.about }}</textarea>
                        </div>
                        <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save
                                Profile</button></div>
                    </div>
                    {% if form.errors %}
                    <div class="alert alert-error">
                        <h6>Please fix the following errors</h6>
                        {% for field in form %}
                        {% if field.errors %}
                        {% for error in field.errors %}
                        <p class="alert alert-danger">{{ field.name|capfirst }}: {{ error }}</p>
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                        {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                        <p class="alert alert-danger">{{error}}</p>
                        {% endfor %}
                        {% endif %}
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block script %}
<script type="text/javascript" >
    $(document).on('submit','#profile-form',function(e){
        e.preventDefault();

        $.ajax({
            type:'POST',
            url:"{% url 'accounts:profile' profile.id %}",
            data:$('#profile-form').serialize(),
            // success: function (form){
                
            //     alert(form)

            // }
        });
    });

</script>
{% endblock %}