{% extends "base_account.html" %}
{% load static %}
{% block title %} Registration {% endblock %}
{% block extracss %}
<link href="https://getbootstrap.com/docs/5.1/examples/sign-in/signin.css" rel="stylesheet">
{% endblock %}

{% block content %}

<main class="form-signin text-center">
  <h2 class="my-3">WELCOME</h2>
  <form action="{% url 'accounts:register' %}" method="POST">
    {% csrf_token %}
    <!-- Email input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example1">Email address</label>
      <input type="email" name="email" id="form2Example1" class="form-control" placeholder="ali@ahmad.com" />
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example2">Password</label>
      <input type="password" name="password1" id="form2Example2" class="form-control"placeholder="**********" />

    </div>

    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example2">Confirm Password</label>
      <input type="password" name="password2" id="form2Example3" class="form-control"placeholder="**********" />

    </div>


      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-4">Register</button>

  </form>
  <!-- Register buttons -->
  <div class="text-center">
    <p>is a member? <a href="{% url 'accounts:login' %}">Login</a></p>
    <p>Continue anonymous <a href="/">Home</a></p>
  </div>

  {% if form.errors %}
  <div class="alert alert-error">
    <h6>Please fix the following errors</h6>
    {% for field in form %}
    {% if field.errors %}
    {% for error in field.errors %}
    <p class="alert alert-danger">{{ field.name|capfirst }}: {{ error }}</p>
    {% endfor %}
    {% endif %}
    {% endfor %}
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <p class="alert alert-danger">{{error}}</p>
    {% endfor %}
    {% endif %}
  </div>
  {% endif %}
</main>
{% endblock %}