{% extends "base_account.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% block title %} Registration {% endblock %}
{% block extracss %}
<link href="https://getbootstrap.com/docs/5.1/examples/sign-in/signin.css" rel="stylesheet">
{% endblock %}
{% block content %}
<main class="form-signin text-center">
  <h2 class="my-3">WELCOME</h2>
  <form id="signup-form" method="POST" novalidate>
    {% csrf_token %}
    <div id="crispy-form">
      {{ form | crispy }}
    </div>
    <button type="submit" class="btn btn-primary btn-block mb-4">Register</button>
  </form>
  <div class="text-center">
    <p>is a member? <a href="{% url 'accounts:login' %}">Login</a></p>
    <p>Continue anonymous <a href="/">Home</a></p>
  </div>
</main>
{% endblock %}