{% extends "base_account.html" %}
{% load static %}
{% block title %} Reset Password {% endblock %}
{% block extracss %}
<link href="https://getbootstrap.com/docs/5.1/examples/sign-in/signin.css" rel="stylesheet">
{% endblock %}

{% block content %}

<main class="form-signin text-center">
  <h2 class="my-3">Here you can reset your password</h2>

  <form action="{% url 'accounts:reset-password' token=request.resolver_match.kwargs.token %}" method="POST">
    {% csrf_token %}

    <!-- Password input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example2">New Password</label>
      <input type="password" name="password1" id="form2Example2" class="form-control"placeholder="**********" />

    </div>

    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example2">Confirm New Password</label>
      <input type="password" name="password2" id="form2Example3" class="form-control"placeholder="**********" />

    </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-4">Reset</button>

  </form>
  <!-- Register buttons -->
  <div class="text-center">
    <p>Need new token?  <a href="{% url 'accounts:forget-password' %}">Resend</a></p>
    <p>Dont need to reset? <a href="{% url 'accounts:login' %}">Login</a></p>
    <p>Continue anonymous <a href="/">Home</a></p>
  </div>

  {% if form.errors %}
  <div class="alert alert-error">
    <h6>Please fix the following errors</h6>
    {% for field in form %}
    {% if field.errors %}
    {% for error in field.errors %}
    <p class="alert alert-danger">{{ field.name|capfirst }}: {{ error }}</p>
    {% endfor %}
    {% endif %}
    {% endfor %}
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <p class="alert alert-danger">{{error}}</p>
    {% endfor %}
    {% endif %}
  </div>
  {% endif %}
</main>
{% endblock %}