{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    {% compress css %}
    <link href="{% static 'font\awesome\css\all.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
    <!-- style css -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% endcompress %}
    {% block extracss %}{% endblock %}
    {% block extrajs %}{% endblock %}
    <!-- Favicon -->
    <link href="{% static 'fav.png' %}" rel="icon">
</head>

<body>
    {% block content %}
    {% endblock %}
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

{% block script %}
{% endblock %}

</html>